@charset "UTF-8";

.vehicleContent {
    list-style: none;
    padding-left: 60px;
    padding-right: 60px;
}

.vehicleContent > li {
	line-height: 35px;
	border-top: 1px dashed #cecece;
}

.price {
	margin-left: 20px;
}

.outterdiv {
	height: 640px;
}
